<?xml version="1.0" encoding="UTF-8"?><!--动态SQL-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo12.mapper.ProductMapper">
    <resultMap id="ProductMap" type="com.example.demo12.entity.Product">
        <id property="id" column="id"/>
        <result property="proname" column="proname"/>
        <result property="proassname" column="proassname"/>
        <result property="proinsname" column="proinsname"/>
        <result property="protag" column="protag"/>
        <result property="proavatar" column="proavatar"/>
        <result property="prodetail" column="prodetail"/>
        <result property="proprice" column="proprice"/>
        <result property="prounit" column="prounitl"/>
        <result property="prosort" column="prosort"/>
    </resultMap>

    <select id="findProductListByBuyId" parameterType="com.example.demo12.entity.Proorder"  resultType="com.example.demo12.entity.ProductVO">
        select p.*, o.pid, o.buy_id buyId,  o.business_rate businessRate, o.business_content businessContent   from product p, proorder o where p.id = o.pid and o.buy_id = #{buyId} order by create_time desc
    </select>

    <!--<select id="findNurProductListByBuyId" parameterType="com.example.demo12.entity.Nurproorder"  resultType="com.example.demo12.entity.Product">
        select p.* from product p, nurproorder o where p.id = o.pid and o.buy_id = #{buyId} order by create_time desc
    </select>-->

</mapper>
